<div class="ahv-downloadbutton-wrapper pt-10" id="brief-herunterladen">
    <a href="/public/assets/pdf/AHV-Brief.pdf" download="AHV Brief.pdf" class="ahv-button ahv-button-next text-3xl" id="ahv-letter-download">Brief herunterladen</a>
</div>

<div id="ahv-letter-share-wrapper" class="mt-10 p-6 bg-secondary-10 border-secondary border-2 border-dashed" data-sharetext="{{environment.SHARETEXT}}" hidden>
    <h4 class="text-secondary">Teile unseren Brief!</h4>
    <p class="mt-4">Um den AHV-Abbau zu verhindern, braucht es jede Stimme. Kannst du deshalb dein Umfeld auf unseren Brief aufmerksam machen?</p>
    <div class="ahv-share-buttons flex flex-wrap mt-6">
        <a href="#" class="ahv-button ahv-share-button" id="WA">Auf WhatsApp teilen</a>
        <a href="#" class="ahv-button ahv-share-button" id="FB">Auf Facebook teilen</a>
        <a href="#" class="ahv-button ahv-share-button" id="tele">Auf Telegram teilen</a>
        <a href="#" class="ahv-button ahv-share-button" id="twitter">Auf Twitter teilen</a>
    </div>

</div>