<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page.title}} | 2xNEIN zu den AHV Vorlagen</title>
    <meta name="title" content="{{page.title}}">
    <meta name="description" content="{{page.description}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{page.URL}}">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{page.description}}">
    <meta property="og:image" content="{{page.OG}}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{page.URL}}">
    <meta property="twitter:title" content="{{page.title}}">
    <meta property="twitter:description" content="{{page.description}}">
    <meta property="twitter:image" content="{{page.OG}}">
    <link rel="stylesheet" href="{{page.root}}/public/dist/bundle.min.css">
</head>
<body>