{{include ("elements/head.html")}}
{{include ("elements/navbar.html")}}
{# {{ dump() }} #}
<div id="main-content" class="mt-5{% if page.isFrontpage == true %} front-page-template{% endif %}">
    <div class="ahv-content-container md-container">
        {% if page.isFrontpage == false %}
            <div class="ahv-pageheader mt-24 mb-12">
                <h1 class="ahv-pageheader-title text-primary">{{page.title}}</h1>
            </div>
        {% else %}
            <div id="darum-gehts">
                <div class="ahv-pageheader mt-24 mb-12">
                    <h2 class="ahv-pageheader-subtitle font-normal">Jede Stimme zählt</h2>
                    <h1 class="ahv-pageheader-title text-primary">2x Nein zum AHV-Abbau</h1>
                </div>
            </div>
        {% endif %}
        {% for block in page.content %}
        <div class="ahv-default-template-block block-type-{{ block.type }}">
            {% if block.type == "md" %}
                {{ block.content | raw }}
            {% else %}
                {% include block.block ignore missing %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{{include ("elements/footer.html")}}
{{include ("elements/analytics.html")}}
{{include ("elements/foot.html")}}