:root {
    --primary-120: #034663;
    --primary-110: #044F70;
    --primary: #04587C;
    --primary-90: #1E698A;
    --primary-80: #367A96;
    --primary-70: #508BA4;
    --primary-60: #689BB1;
    --primary-50: #82ACBE;
    --primary-40: #9BBCCB;
    --primary-30: #B4CDD8;
    --primary-20: #CDDEE5;
    --primary-10: #E6EFF2;
}

html {
    scroll-behavior: smooth;
}